p {
    font-family: Roboto,Ariel;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 5px;
    background-color:rgb(240, 240, 240);
}